@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

.text {
    -fx-font-family: 'Ubuntu', sans-serif;
}

.leftList {

}

.settingsBtn {
    -fx-font-size: 12;
    -fx-background-color: white;
    -fx-background-radius: 31px;
}
