@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

.text {
    font-family: 'Quicksand';
}

.leftList {

}


.tablePane {
    -fx-border-radius: 26;
    -fx-background-color: black;
    -fx-background-radius: 26;
}

.tableText {
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.green {
    -fx-background-color: #01511d;
}

.visitorIcon{
    -fx-background-image: url("https://i.imgur.com/yidosug.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.settingsBtn {
    -fx-font-size: 12;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 31px;
}

.loginBG{
    -fx-background-color: white;
    -fx-background-image: url("https://i.imgur.com/HbMZomN.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20 20;
}

.splashBG{
    -fx-background-image: url("https://i.imgur.com/HbMZomN.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: contain;
}

.cartOptions-l {
  -fx-background-radius: 0 0 0 8;
}

.cartOptions-r {
  -fx-background-radius: 0 0 8 0;
}

.cardOptionButton {
  -fx-background-image: url("https://i.imgur.com/q5d1uzp.png");
}

.cashOptionButton {
-fx-background-image: url("https://i.imgur.com/O2haVjP.png");
}

.product-vbox {
  -fx-background-radius: 8 8 0 0;
  -fx-border-radius: 8 8 0 0;
  -fx-background-color: white;
  -fx-background-radius: 8;
  -fx-border-radius: 8;
}

.productsScroll {
  -fx-background-color: #EDF1F8;
}

.productsScroll > .viewport {
   -fx-background-color: #EDF1F8;
}

.productImage {
  -fx-background-radius: 8 8 0 0;
  -fx-border-radius: 8 8 0 0;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.minus {
    -fx-background-color: transparent;
    -fx-background-image: url("https://i.imgur.com/tu0fMom.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 23 24, cover;
    -fx-background-position: center center;
}

.plus {
    -fx-background-color: transparent;
    -fx-background-image: url("https://i.imgur.com/c5GHR31.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 23 24, cover;
    -fx-background-position: center center;
}

.paymentMethodButton {
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.paymentMethodPane {
    -fx-background-radius: 8;
    -fx-background-color: #EAF0F0;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.paymentPane {
    -fx-background-color: white;
    -fx-background-radius: 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 50, 0, 0, 0);
}

.closeBtn {
    -fx-background-color: white;
    -fx-background-image: url("https://i.imgur.com/6r6VJDf.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.loadingGif {
    -fx-background-image: url("https://i.imgur.com/6Xg4uVF.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
}

.resetButton {
    -fx-background-image: url("https://i.imgur.com/8BejBWO.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-color: transparent;
    -fx-background-position: center center;
}


.resetCategory {
    -fx-background-image: url("https://imgur.com/UywyA7D.png");
    -fx-font-size: 15;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-color: transparent;
    -fx-background-position: center center;
}

.calendar {
    -fx-background-image: url("https://i.imgur.com/MU6w7RP.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-size: 16 18, contain;
}

.table {
    -fx-background-image: url("https://i.imgur.com/Iurq5pG.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-size: 16 17, contain;
}


.noReceipt {
    -fx-background-image: url("https://i.imgur.com/sx4Cq6t.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 88 88, contain;
    -fx-background-position: center center;
}

.search-field {
    -fx-background-radius: 8;
    -fx-background-image:url('https://i.imgur.com/LfXDSl3.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 20px center;
    -fx-background-size: 20 20;
    -fx-font-size: 14;
    -fx-background-color: #EAF0F0;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: #89928E;
}

.text-field {
    -fx-background-radius: 8;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 20px center;
    -fx-background-size: 20 20;
    -fx-font-size: 14;
    -fx-background-color: #EAF0F0;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: #89928E;
}

.choice-box {
  -fx-background-radius: 8;
  -fx-background-repeat: no-repeat;
  -fx-background-position: right 20px center;
  -fx-background-size: 20 20;
  -fx-font-size: 14;
  -fx-background-color: #EAF0F0;
  -fx-background-insets: 0;
  -fx-border-color: transparent;
  -fx-prompt-text-fill: #89928E;
}

.resetScrollPane > .viewport {
   -fx-background-color: transparent;
}

.resetScrollPane {
    -fx-background-color: white;
    -fx-background-insets: 0, 0;
}

.resetScrollPane:focused {
    -fx-background-color: white;
    -fx-background-insets: 0, 0;
}

.acceptBtn {
    -fx-background-radius: 7;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.deleteBtn {
    -fx-background-radius: 7;
    -fx-background-color:  #a82b2b;
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.list-view .list-cell:filled:selected {
  -fx-background: #B1CED4;
}

.tabBtn {
    -fx-background-color: #B1CED4;
    -fx-text-fill: black;
    -fx-font-size: 14;
}

.title{
    -fx-font-size: 18;
    -fx-font-weight: 700;
}

.logoutBtn{
    -fx-background-color: white;
    -fx-background-image: url("https://i.imgur.com/ISR83pn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}

.exitBtn{
    -fx-background-color: white;
    -fx-background-image: url("https://i.imgur.com/sxsj5S2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}